#about{
    @extend .flex-central;
    flex-direction: column;
    min-height: 90vh;
    .about-text{
        @extend .flex-central;
        flex-direction: column;
        p{
            font-size: 1.1em;
            margin: 1em 0em;
            text-align: justify;
        }
        .about-buttons{
            @extend .flex-central;
            flex-wrap: wrap;
        }
    }
    .row{
        .col{
            padding: 1.5em;
            border-radius: 30px;
            box-shadow: 2px 2px 3px rgba(0,0,0, 0.4);
            background-color: var(--primary-color);
            color: var(--bg-color);
            margin: 1em 0em;
            h3{
                margin-bottom: 10px;
            }
            &:hover{
                background-color: var(--quaternary-color);
                transition: 0.4s;
            }
        }
        .about-vision{
            background-color: var(--secondary-color);
            &:hover{
                background-color: var(--tertiary-color);
            }
        }
    }
}